* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

a {
  color: #333;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
